.main
  .main__header
    .group__infomation
      .group__infomation__name test
      .group__information__member Member : masayo
    =link_to "#" ,class:"group__header__edit" do
      Edit

  .main__center
    .chat__contents
      .chat__content
        .chat__content__info 
          .chat__content__user user
          .chat__content__day day
        .chat__content__message message
      
  .main__footer
    .input-form

      -# .form__message type a message
      %input.form__message{placeholder: "type a message"}
      %label{class: "picture-label"} 
        -# %i.far.fa-image.form__picture
        %input.form__picture{type: "file"} 
        %i.far.fa-image.form__picture
      -# .form__picture 
      -#   %i.far.fa-image
    .form-button Send 