.sidebar
  .sidebar__top 
    .sidebar__top__user masayo
    .sidebar__top__icon
      =link_to "#" , class: "icon__edit" do
        %i.fa.fa-edit 
      =link_to "#" , class: "icon__config" do
        %i.fa.fa-cog 

  .sidebar__groups
    .sidebar__groups__group
      .sidebar__groups__group__name
        mizutama
      .sidebar__groups__group__message
        まだメッセージはありません